@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        <strong>Please check your email to reset your password.</strong>
    </p>
</div>

@section Styles {
    .background-clouds {
    background-image: url("https://www.kindpng.com/picc/m/148-1489572_transparent-chat-icon-png-transparent-background-chat-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
}

