
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div>
            URL not found.
            <h5>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h5>
    </div>
</body>
</html>
